{% extends '@OHMediaEmail/base.html.twig' %}

{% block content %}
  <p>Hello,</p>

  <p>{{ form_entity.emailMessage|nl2br }}</p>

  <p>Here is a copy of your submission:</p>

  {% for field in form_entity.fields %}
    {% if field.isTypeHeading %}
      <h3>{{ field.label }}</h3>
    {% else %}
      <p><b>{{ field.label }}:</b> {{ form_data[field.id]|raw }}</p>
    {% endif %}
  {% endfor %}

  {% if form_entity.agreementText %}
    <p>
      <b>Agreed to the following:</b>
      <br>
      {{ form_entity.agreementText|nl2br }}
    </p>
  {% endif %}
{% endblock %}
